name: Auto Deploy to Local Laptop

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted  # Chạy trên máy của bạn (con Runner bạn vừa cài)
    steps:
      - name: Lấy code mới nhất về
        uses: actions/checkout@v3

      - name: Cài đặt thư viện (nếu cần)
        run: npm install

      - name: Khởi động lại Server
        run: pm2 restart osstech-wiki